body{
    font-family: 'Exo 2',sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 99;
    font-family: 'Exo 2', sans-serif;
}

.top-header{
    width: 100%;
    background-color: #0e2737;
    font-size: 18px;    
}


.top-header__area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
    padding-left:0;
}

.top-header__area a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.top-header__area a:hover{
    color: chartreuse;
    transform: scale(0.8);
}

.contact span:not(:last-child){
    padding-right:20px ;
}

.social-media span{
    font-size: 20px;
}

.social-media span:not(:last-child){
    padding-right: 20px;
}

.language span:not(:last-child){
    padding-right: 20px;
}

/* header section */
header{
    width: 100%;
    height: 10vh;
    padding: 15px 0;
    box-shadow: grey 14px 6px 20px 2px;
    background-color: #fff;
}

.header-area{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: end;
    margin: auto 0;
}

.nav-item{
    list-style: none;
    
}

.nav-item:not(:last-child){
    margin-right: 35px;
}

.nav-item a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    vertical-align: center;
    transition: all 0.5s; 
    letter-spacing: 0.5px;
    font-size: 18px;
}

.nav-item:hover a{
    color: chartreuse;
}


.hero-section{
    position: relative;
    top:75px;
    height: 95vh;
}

.carousel-inner img{
    width: 100vw;
    height: 100vh;
}

.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.carousel-item-1{
    background-image: url(/images/image3.jpg);
}
.hero-description{
    position: relative;
    top: -60vh;
    z-index: 18;
    font-size: 50px;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.sub-title p{
    margin-bottom: 0.9375rem;
    font-size: 14px;
    text-transform: uppercase;
    color: chartreuse;
    font-weight: 500;
    letter-spacing:5px
}
.sub-title h3{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    margin-bottom: 3rem;
}

/* about our */
.about{
    padding:200px 0 ;
}
.about-area{
    display: flex;
    justify-content: space-between;
}

.about-img{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.about-img--item{
    overflow: hidden;
    border-radius: 10px;
    margin: 4px; 
    width: 48%;  
}

.about-img--item img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.about-img--item:hover img{
    transform: scale(1.1);
}

.desription-p{
    font-size: 24px;
    line-height: 2;
    letter-spacing: 2;
    color: #000;
    opacity: 0.8;
    width: 90%;
}

.about-link{
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
    color: chartreuse;
    transition: all 0.7s;
}

.about-link:hover{
    opacity: 0.9;
}

/* servicas */

.services-items{
    display: flex;
    justify-content: center;
}


.services-item{
    padding: 40px;
    margin: 15px;
    border: 1px solid chartreuse;
    border-radius: 5px;
    transition: all 0.9s;
    background-color: #fff;
    width: 20%;
}
.services-item:hover{
    transform: scale(1.05);
    background-color: chartreuse;
    color: #000;
    border-color: #000;
}
.services-item:hover .services-img{
    color: #000;
    border-bottom-color: #000;
}


.services-img{
    text-align: center;
    padding-bottom: 30px;
    border-bottom:2px solid chartreuse;
    color: chartreuse;
    transition: all 0.9s;
}

.services-description{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
}

/* clients */
.clients{
    padding:200px 0;
}

.clients-items{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.clients-items div{
    width: 50% !important;
    height: 50vh !important;
}

.clients-item-img{
}
.clients-item-img img{
    width:100% !important;
    height: 500px !important;
    border-radius: 5px;
}

.clients-item-description{
    text-align:  left !important;
    font-family: 'Exo 2',sans-serif;
    padding-left: 30px;
}
.clients-item-description h3{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}
.clients-item-description p{
    font-size: 24px;
    line-height: 1.7;
    letter-spacing: 2.2;
    color: #000;
    opacity: 0.8;
    width: 100%;
}

/* contact */
.contact-footer{
    padding: 100px 0;
    font-family: 'Exo 2',sans-serif;
    
}

.contact-area{
    padding: 50px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid chartreuse;
    border-radius: 5px;
    background-image: url(/images/image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.contact-description h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-description p{
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 2.2;
    color: #000;
    opacity: 0.8;
    width: 100%;
}

.contact-item button{
    padding: 12px 20px;
    background-color: rgba(128, 255, 0, 0.611);
    border-radius: 5px;
    transition: all 0.5s;
}

.contact-item button:hover{
    background-color:transparent;
    border-color: chartreuse;
}

.contact-item button:hover a{
    color: chartreuse;
}
.contact-item button a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 2.2;
    font-weight: 600;
    transition: all 0.5s;
}

/* footer */
.footer{
    padding: 50px 0;
  
    background-color: #0e2737;
}
.footer-area{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-description{
    font-size: 20px;
    letter-spacing: 1.9;
    line-height: 1.5;
    color: #fff;
    text-align: center !important;
}

.footer-area h3{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Exo 2',sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

.footer-nav--items{
    display: flex;
    justify-content: center;
}
.footer-nav--item{
    list-style: none;
    transition: all 0.5s;
}

.footer-nav--item:not(:last-child){
    margin-right: 20px;
}

.footer-nav--item:hover a{
    color: chartreuse;
}

.footer-nav--item a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.9;
    line-height: 1.5;
    color: #fff;
}

.footer .social-media{
    text-align: center;
    margin: 30px 0;
}

.footer .social-media div:not(:last-child){
    margin-right: 40px;
}

.footer .social-media a{
    color:chartreuse;
    text-decoration: none;
    transition: all 0.5s;
}

.footer .social-media a:hover{
    color: #fff;
}

.footer p{
}

.footer-footer{
    color:#fff;
    text-align: center;
    font-weight: 600;
    font-family: 'Exo 2',sans-serif;
    margin-top: 50px;
}
